flows.json
[
    {
        "id": "unified_tab",
        "type": "tab",
        "label": "Raumklima-Vergleich",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "00c65ee81850109c",
        "type": "mqtt-broker",
        "name": "Prototyp Broker Server",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true
    },
    {
        "id": "a354c21195c11344",
        "type": "ui-base",
        "name": "Raumklima Dashboard",
        "path": "/dashboard"
    },
    {
        "id": "176d2fa3dd09c68d",
        "type": "ui-theme",
        "name": "Dark Theme",
        "colors": {
            "surface": "#333333",
            "primary": "#00b7ff",
            "bgPage": "#111111",
            "groupBg": "#222222",
            "groupOutline": "#444444"
        }
    },
    {
        "id": "page_main",
        "type": "ui-page",
        "name": "Raumklima",
        "ui": "a354c21195c11344",
        "path": "/",
        "icon": "home",
        "layout": "grid",
        "theme": "176d2fa3dd09c68d",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "group_live_values",
        "type": "ui-group",
        "name": "Live-Werte (Referenz-Station)",
        "page": "page_main",
        "width": "12",
        "order": 1,
        "className": ""
    },
    {
        "id": "group_charts",
        "type": "ui-group",
        "name": "Vergleichsdiagramme",
        "page": "page_main",
        "width": "12",
        "order": 2,
        "className": ""
    },
    {
        "id": "mqtt_in_referenz",
        "type": "mqtt in",
        "z": "unified_tab",
        "name": "Referenz (SCD41)",
        "topic": "sensors/referenz/data",
        "qos": "1",
        "datatype": "json",
        "broker": "00c65ee81850109c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "get_ref_co2",
                "get_ref_temp_bme",
                "get_ref_hum_bme",
                "get_ref_pressure"
            ]
        ]
    },
    {
        "id": "mqtt_in_ens160",
        "type": "mqtt in",
        "z": "unified_tab",
        "name": "eCO2 (ENS160)",
        "topic": "sensors/eco2-ens160/data",
        "qos": "1",
        "datatype": "json",
        "broker": "00c65ee81850109c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 220,
        "wires": [
            [
                "get_ens_eco2",
                "get_ens_temp",
                "get_ens_hum"
            ]
        ]
    },
    {
        "id": "mqtt_in_sgp30",
        "type": "mqtt in",
        "z": "unified_tab",
        "name": "Low-Cost (SGP30)",
        "topic": "sensors/lowcost-sgp30/data",
        "qos": "1",
        "datatype": "json",
        "broker": "00c65ee81850109c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "get_sgp_eco2",
                "get_sgp_temp",
                "get_sgp_hum"
            ]
        ]
    },
    {
        "id": "get_ref_co2",
        "type": "change",
        "z": "unified_tab",
        "name": "CO2 (NDIR)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.co2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SCD41 (NDIR)",
                "tot": "str"
            }
        ],
        "x": 510,
        "y": 80,
        "wires": [
            [
                "chart_co2_compare",
                "gauge_co2_ref"
            ]
        ]
    },
    {
        "id": "get_ens_eco2",
        "type": "change",
        "z": "unified_tab",
        "name": "eCO2 (ENS)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.eco2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ENS160 (eCO2)",
                "tot": "str"
            }
        ],
        "x": 510,
        "y": 120,
        "wires": [
            [
                "chart_co2_compare"
            ]
        ]
    },
    {
        "id": "get_sgp_eco2",
        "type": "change",
        "z": "unified_tab",
        "name": "eCO2 (SGP)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.eco2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SGP30 (eCO2)",
                "tot": "str"
            }
        ],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "chart_co2_compare"
            ]
        ]
    },
    {
        "id": "get_ref_temp_bme",
        "type": "change",
        "z": "unified_tab",
        "name": "Temp (BME)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_bme",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Referenz (BME280)",
                "tot": "str"
            }
        ],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "chart_temp_compare",
                "gauge_temp_ref"
            ]
        ]
    },
    {
        "id": "get_ens_temp",
        "type": "change",
        "z": "unified_tab",
        "name": "Temp (AHT)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Vergleich (AHT21)",
                "tot": "str"
            }
        ],
        "x": 510,
        "y": 280,
        "wires": [
            [
                "chart_temp_compare"
            ]
        ]
    },
    {
        "id": "get_sgp_temp",
        "type": "change",
        "z": "unified_tab",
        "name": "Temp (DHT)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Low-Cost (DHT22)",
                "tot": "str"
            }
        ],
        "x": 510,
        "y": 320,
        "wires": [
            [
                "chart_temp_compare"
            ]
        ]
    },
    {
        "id": "get_ref_hum_bme",
        "type": "change",
        "z": "unified_tab",
        "name": "Hum (BME)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hum_bme",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Referenz (BME280)",
                "tot": "str"
            }
        ],
        "x": 510,
        "y": 400,
        "wires": [
            [
                "chart_hum_compare",
                "gauge_hum_ref"
            ]
        ]
    },
    {
        "id": "get_ens_hum",
        "type": "change",
        "z": "unified_tab",
        "name": "Hum (AHT)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hum",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Vergleich (AHT21)",
                "tot": "str"
            }
        ],
        "x": 510,
        "y": 440,
        "wires": [
            [
                "chart_hum_compare"
            ]
        ]
    },
    {
        "id": "get_sgp_hum",
        "type": "change",
        "z": "unified_tab",
        "name": "Hum (DHT)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hum",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Low-Cost (DHT22)",
                "tot": "str"
            }
        ],
        "x": 510,
        "y": 480,
        "wires": [
            [
                "chart_hum_compare"
            ]
        ]
    },
    {
        "id": "get_ref_pressure",
        "type": "change",
        "z": "unified_tab",
        "name": "Luftdruck",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            }
        ],
        "x": 500,
        "y": 560,
        "wires": [
            [
                "text_pressure"
            ]
        ]
    },
    {
        "id": "chart_co2_compare",
        "type": "ui-chart",
        "z": "unified_tab",
        "group": "group_charts",
        "name": "CO2 Vergleich",
        "label": "CO₂-Vergleich (NDIR vs. eCO₂)",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "400",
        "ymax": "5000",
        "bins": "",
        "stackSeries": false,
        "pointRadius": "",
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": "7",
        "className": "",
        "interpolation": "linear",
        "x": 750,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_temp_compare",
        "type": "ui-chart",
        "z": "unified_tab",
        "group": "group_charts",
        "name": "Temperatur Vergleich",
        "label": "Temperatur-Vergleich",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "stackSeries": false,
        "pointRadius": "",
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": "7",
        "className": "",
        "interpolation": "linear",
        "x": 770,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_hum_compare",
        "type": "ui-chart",
        "z": "unified_tab",
        "group": "group_charts",
        "name": "Feuchtigkeit Vergleich",
        "label": "Luftfeuchtigkeits-Vergleich",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "stackSeries": false,
        "pointRadius": "",
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": "7",
        "className": "",
        "interpolation": "linear",
        "x": 770,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "gauge_co2_ref",
        "type": "ui-gauge",
        "z": "unified_tab",
        "name": "CO2 Referenz",
        "group": "group_live_values",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 4,
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "CO₂ (Referenz)",
        "alwaysShowTitle": false,
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00b500",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1000",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1400",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 400,
        "max": 3000,
        "sizeThickness": "13",
        "sizeGap": "4",
        "sizeKeyThickness": "10",
        "className": "",
        "x": 750,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "gauge_temp_ref",
        "type": "ui-gauge",
        "z": "unified_tab",
        "name": "Temperatur Referenz",
        "group": "group_live_values",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Temperatur",
        "alwaysShowTitle": false,
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#0099ff",
                "text": "",
                "textType": "label"
            },
            {
                "from": "18",
                "color": "#00b500",
                "text": "",
                "textType": "label"
            },
            {
                "from": "25",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 40,
        "sizeThickness": "13",
        "sizeGap": "4",
        "sizeKeyThickness": "10",
        "className": "",
        "x": 770,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "gauge_hum_ref",
        "type": "ui-gauge",
        "z": "unified_tab",
        "name": "Luftfeuchtigkeit Referenz",
        "group": "group_live_values",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Luftfeuchte",
        "alwaysShowTitle": false,
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#00b500",
                "text": "",
                "textType": "label"
            },
            {
                "from": "61",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 100,
        "sizeThickness": "13",
        "sizeGap": "4",
        "sizeKeyThickness": "10",
        "className": "",
        "x": 760,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "text_pressure",
        "type": "ui-text",
        "z": "unified_tab",
        "group": "group_live_values",
        "order": 4,
        "width": 12,
        "height": 1,
        "name": "Luftdruck",
        "label": "Luftdruck (Referenz)",
        "format": "{{msg.payload | number:1}} hPa",
        "layout": "row-spread",
        "className": "",
        "x": 740,
        "y": 560,
        "wires": []
    }
]