flows.json
[
    {
        "id": "be4f8f5c0e642347",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4f748a0d5249458",
        "type": "tab",
        "label": "Referenz-Messstation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "group_live_values",
        "type": "ui-group",
        "name": "Live-Werte",
        "page": "page_main",
        "width": "12",
        "height": "",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group_charts",
        "type": "ui-group",
        "name": "Verlaufsdiagramme",
        "page": "page_main",
        "width": "12",
        "height": "",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "00c65ee81850109c",
        "type": "mqtt-broker",
        "name": "Prototyp Broker Server",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthQos": "0",
        "willQos": "0"
    },
    {
        "id": "a354c21195c11344",
        "type": "ui-base",
        "name": "Raumklima Dashboard",
        "path": "/dashboard"
    },
    {
        "id": "176d2fa3dd09c68d",
        "type": "ui-theme",
        "name": "Standardthema",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "page_main",
        "type": "ui-page",
        "name": "Raumklima",
        "ui": "a354c21195c11344",
        "path": "/",
        "icon": "home",
        "layout": "grid",
        "theme": "176d2fa3dd09c68d",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7904544829667973",
        "type": "mqtt in",
        "z": "d4f748a0d5249458",
        "name": "Referenz-Station",
        "topic": "sensors/referenz/data",
        "qos": "1",
        "datatype": "json",
        "broker": "00c65ee81850109c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "d4475778e2525a7c",
                "e2d2d72f48f08835",
                "5162fed0b830e9b2",
                "39b8c7fc6a675937",
                "9504bfa93b7d8463",
                "2a3a46f8935b7311",
                "edc9654f5c5eb4e4"
            ]
        ]
    },
    {
        "id": "d4475778e2525a7c",
        "type": "change",
        "z": "d4f748a0d5249458",
        "name": "CO2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.co2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "e6957ceae3765025",
                "8ba4db4d32cb3051"
            ]
        ]
    },
    {
        "id": "e2d2d72f48f08835",
        "type": "change",
        "z": "d4f748a0d5249458",
        "name": "Temp (BME)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_bme",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "BME280",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "c42b4565b444963a",
                "01a95b766fd7bdad"
            ]
        ]
    },
    {
        "id": "5162fed0b830e9b2",
        "type": "change",
        "z": "d4f748a0d5249458",
        "name": "Temp (SCD)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_scd",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SCD41",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "c42b4565b444963a"
            ]
        ]
    },
    {
        "id": "39b8c7fc6a675937",
        "type": "change",
        "z": "d4f748a0d5249458",
        "name": "Hum (BME)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hum_bme",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "BME280",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "b228363e0efab44e",
                "cb08635398cddb77"
            ]
        ]
    },
    {
        "id": "9504bfa93b7d8463",
        "type": "change",
        "z": "d4f748a0d5249458",
        "name": "Hum (SCD)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hum_scd",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SCD41",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "b228363e0efab44e"
            ]
        ]
    },
    {
        "id": "2a3a46f8935b7311",
        "type": "change",
        "z": "d4f748a0d5249458",
        "name": "Luftdruck",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "9d0f9a33d9453bfa"
            ]
        ]
    },
    {
        "id": "edc9654f5c5eb4e4",
        "type": "switch",
        "z": "d4f748a0d5249458",
        "name": "CO2 Grenzwert",
        "property": "payload.co2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "1000",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "1000",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 620,
        "wires": [
            [
                "5ae7e6fc3b45f2e9"
            ],
            [
                "9747161e1239cbb7"
            ]
        ]
    },
    {
        "id": "5ae7e6fc3b45f2e9",
        "type": "change",
        "z": "d4f748a0d5249458",
        "name": "Status: Gut",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Gute Luftqualität",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 600,
        "wires": [
            [
                "e5813de2f1061ea3"
            ]
        ]
    },
    {
        "id": "9747161e1239cbb7",
        "type": "change",
        "z": "d4f748a0d5249458",
        "name": "Status: Lüften",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Lüften empfohlen!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "e5813de2f1061ea3"
            ]
        ]
    },
    {
        "id": "e6957ceae3765025",
        "type": "ui-gauge",
        "z": "d4f748a0d5249458",
        "name": "CO2",
        "group": "group_live_values",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 6,
        "height": 4,
        "gtype": "gauge-tank",
        "gstyle": "rounded",
        "title": "CO₂-Wert",
        "alwaysShowTitle": false,
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00b500",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1000",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1400",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 400,
        "max": 3000,
        "sizeThickness": "",
        "sizeGap": "",
        "sizeKeyThickness": "",
        "className": "",
        "x": 610,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "01a95b766fd7bdad",
        "type": "ui-gauge",
        "z": "d4f748a0d5249458",
        "name": "Temperatur",
        "group": "group_live_values",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 2,
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "Temperatur",
        "alwaysShowTitle": false,
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#0099ff",
                "text": "",
                "textType": "label"
            },
            {
                "from": "18",
                "color": "#00b500",
                "text": "",
                "textType": "label"
            },
            {
                "from": "25",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 40,
        "sizeThickness": "",
        "sizeGap": "",
        "sizeKeyThickness": "",
        "className": "",
        "x": 630,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cb08635398cddb77",
        "type": "ui-gauge",
        "z": "d4f748a0d5249458",
        "name": "Luftfeuchtigkeit",
        "group": "group_live_values",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 2,
        "gtype": "gauge-tile",
        "title": "Luftfeuchte",
        "alwaysShowTitle": false,
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#00b500",
                "text": "",
                "textType": "label"
            },
            {
                "from": "61",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 100,
        "sizeThickness": "",
        "sizeGap": "",
        "sizeKeyThickness": "",
        "className": "",
        "x": 620,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9d0f9a33d9453bfa",
        "type": "ui-text",
        "z": "d4f748a0d5249458",
        "group": "group_live_values",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Luftdruck",
        "label": "Luftdruck",
        "format": "{{msg.payload | number:1}} hPa",
        "layout": "row-spread",
        "className": "",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "e5813de2f1061ea3",
        "type": "ui-text",
        "z": "d4f748a0d5249458",
        "group": "group_live_values",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Empfehlung",
        "label": "Handlungsempfehlung",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "8ba4db4d32cb3051",
        "type": "ui-chart",
        "z": "d4f748a0d5249458",
        "group": "group_charts",
        "name": "CO2 Verlauf",
        "label": "CO₂-Verlauf",
        "order": 1,
        "chartType": "scatter",
        "category": "payload",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "400",
        "ymax": "3000",
        "bins": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "line",
        "pointRadius": "",
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": "7",
        "className": "",
        "interpolation": "linear",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c42b4565b444963a",
        "type": "ui-chart",
        "z": "d4f748a0d5249458",
        "group": "group_charts",
        "name": "Temperatur Vergleich",
        "label": "Temperatur-Vergleich",
        "order": 2,
        "chartType": "bar",
        "category": "payload",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "",
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#1f77b4",
            "#000000",
            "#1f77b4",
            "#000000",
            "#1f77b4",
            "#000000",
            "#1f77b4"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": "7",
        "className": "",
        "interpolation": "linear",
        "x": 670,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b228363e0efab44e",
        "type": "ui-chart",
        "z": "d4f748a0d5249458",
        "group": "group_charts",
        "name": "Feuchtigkeit Vergleich",
        "label": "Luftfeuchtigkeits-Vergleich",
        "order": 3,
        "chartType": "bar",
        "category": "payload",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "",
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#2ca02c",
            "#d62728",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": "7",
        "className": "",
        "interpolation": "linear",
        "x": 670,
        "y": 420,
        "wires": [
            []
        ]
    }
]